body{
    color: blue;
}

img {
    width: 500px;
    height: 500px;
}

.cabecalho{
    background-color: white;
    
}

.texto1{
    display: block;
}

.segundo-conteudo{
    background-color: white;
}

.terceiro-conteudo{
    display: flex;
    text-align: center;
    background-color: white;
}

.texto3{
    text-align: right;
}

.quarto-conteudo{
    display: flex;
    background-color: white;
}

.quinto-conteudo{
    text-align: center;
}