.cabecalho{
    background-color: aqua;
}

.primeiro-conteudo{
    display: flex;
    background-color: blue;
}

.segundo-conteudo{
    display: flex;
    background-color: blueviolet;
}

.terceiro-conteudo{
    display: flex;
    text-align: center;
    background-color: brown;
}

.quarto-conteudo{
    display: flex;
    background-color: red;
}